[Desktop Entry]
Name=Password Manager
GenericName=Password manager
Comment=A simple password store using AES-256-CBC encryption via OpenSSL.
Exec=passwordmanager
Icon=passwordmanager
Terminal=false
Type=Application
Categories=Utility
